<body style="background-color:lightGray;">
<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> by Mattan Griffel is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month, and is what this application was designed with. I recommend it highly, as any good guide to teach you will charge you regardless, while this one particularly has both a great starting basis and feedback for errors and troubleshooting, not to mention methods for other difficulties you might run in to.
</p>