<body style="background-color:lightGray;">
<h1>About</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is a project to teach 
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month, and is what this application was taught with.I'm still going through it (which is why the site is still far from complete), however I recommend it highly, as any good guide to teach you will charge you regardless, while this one particularly has both a great starting basis and feedback with errors, not too mention methods for difficulties you might run in to.
</p>