<h1>Anatomy and Physiology Study Material</h1>
<p>These are fill-in-the-blank images of material covered in lab, and are designed to help with basic memorization of anatomical structures. Until I get some more input, these are basically just examples.</p>

<!-- Planes -->
<p>Planes:</p>
<img src="/planes.gif" alt="Planes" style="border:none;" /></a>
<BR><BR><BR>
<p>Classifications:</p>
<!-- Things -->
<a href="/things.JPG"><img src="/things.JPG" alt="Things" style="border:none;" /></a>
<BR><BR><BR>
<p>Superior/inferior exterior view of the cranium:</p>
<!-- Superior/inferior cranium -->
<a href="/cranium1.JPG"><img src="/cranium1.JPG" alt="Cranium 1" style="border:none;" /></a>
