<h1>Anatomy and Physiology Study Material</h1>
<p>These are fill-in-the-blank images of material covered in lab, and are designed to help with basic memorization of anatomical structures. I'll put more up when I get my books.</p>

<!-- Planes -->
<p>Planes:</p>
<a href="/planes.gif"><img src="/planes.gif" alt="Planes" style="border:none;" /></a>
<BR><BR><BR>
<p>Classifications:</p>
<!-- Things -->
<a href="/things.jpeg"><img src="/things.jpg" alt="Things" style="border:none;" /></a>
<BR><BR><BR>
<p>Superior/inferior exterior view of the cranium:</p>
<!-- Superior/inferior cranium -->
<a href="/cranium1.jpeg"><img src="/cranium1.jpg" alt="Cranium 1" style="border:none;" /></a>
