<h1>Welcome to One Month Rails</h1>
<p>
	This is the home page for the
	<%= link_to "One Month Rails", "http//onemonthrails.com"%>
	application.

</p>
<p>
	I'm watching you Jacki...I can see you... :)
</p>
<p>
	<%= link_to "Sign Up Now!", "#" %>
</p>