<div class="hero-unit">
	<h1>Coming soon...</h1>
		
		<p>
		</p>
		<p>
			Schluchter's site for class schedule permutations.
		</p>

		<p>
			Powered by Ruby, taught with <a href=htpp://onemonthrails.com>One Month Rails</a> by Mattan Griffel.
			</a>
		</p>
</div>