<div class="hero-unit">
	<h1>Coming soon...</h1>
		<BR>
		<p>
			Schluchter's site for class schedule permutations.
		</p>
		<BR>
		<p>
			This is going to be a manually selectable table to put in all of your upcoming classes, and regardless of your major(s), all classes added will be calculated to provide you with the best possible schedule(s). If a user sets up a very simple account, the information will be held onto for review in the future, with other possible uses of this information as well. After all, where's the fun if it can't be shared with total strangers?
		</p>	
		<BR>	
		<!--
		<p>
			Powered by Ruby, taught with <a href=htpp://onemonthrails.com>One Month Rails</a> by Mattan Griffel.
			</a>
		</p> -->
</div>